* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

#carro {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 40px;
    height: 80px;
    background-color: #FF0000;
    border-radius: 5px;
    transform: translateX(-50%);
}

#obstacles {
    position: absolute;
    top: 0;
    width: 100%;
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: #0000FF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    top: -80px; /* Começa fora da tela */
}
