body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#quiz-screen {
    margin-top: 50px;
}

button {
    background-color: #f4b400;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    width: auto;
    max-width: 90%; /* Limita a largura do botão */
    box-sizing: border-box; /* Garante que a largura seja calculada corretamente */
}

button:hover {
    background-color: #f39c12;
}

#next-btn {
    display: block; /* Garantir que o botão sempre apareça */
}

#quiz-screen {
    padding: 10px;
}

/* Ajustes de responsividade */
@media (max-width: 600px) {
    h1, h2 {
        font-size: 24px;
    }

    button {
        font-size: 16px; /* Tamanho do texto dos botões */
        padding: 12px 18px; /* Ajuste do padding em dispositivos menores */
        width: 100%; /* Botões ocupam toda a largura da tela */
    }

    #answers {
        padding: 10px;
    }
}

/* Ajuste de tela muito pequena */
@media (max-width: 400px) {
    button {
        font-size: 14px; /* Reduzir um pouco mais o tamanho do texto */
    }

    #quiz-screen {
        padding: 5px;
    }
}
