body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#quiz-screen {
    margin-top: 50px;
    padding: 20px;
}

/* Estilos dos botões */
button {
    background-color: #f4b400;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #f39c12;
}

/* Ajuste para telas pequenas */
@media (max-width: 600px) {
    h1, h2 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
        padding: 12px 20px;
    }

    #answers {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    button {
        font-size: 14px;
    }
}
